{% extends "admin/base.html" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Gallery</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('update_database') }}">Update DB</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('delete_images') }}">Delete Images</a>
      </li>
        <a class="nav-link disabled" href="#">{{ username }}</a>
      </li>
    </ul>
  </div>
</nav>

<form id="addproduct">
    <select class="custom-select" name="album_id" id="inputGroupSelect01">
      <option selected value="0">Select existing album</option>
      {% for album in albums %}
      <option value="{{ album.id }}">{{ album.album_name }}</option>
      {% endfor %}
    </select>
    <input class="form-control" type="text" name="album_name" placeholder="New album name (ignored if album chosen)">
    <div id="myAwesomeDropzone" class="dropzone"></div>
</form>
<button type="button" id="submit_form">Submit</button>

    </div>
  </div>
</div>
{% endblock %}
