{% extends 'base.html' %}
{% block body %}
<div class="wrapper">
	<div id="header">
		<div id="nav">
			<button class="prev"></button>
			<button class="next"></button>
		</div>
		<div class="album">
		MZP Photos
		</div>
	</div>
	<div id="frame">
		<div class="photo-wrapper">
			<img class="photo" />
			<img class="loading" src="/static/img/loading.png" style="position: absolute; margin-left: -50px; margin-top: -50px; top: 50%; left: 50%">
		</div>
	</div>
	<div class="gallery">
		<div id="slider" class="slider">
			<ul id="thumbnails">
			{% for picture in pictures %}
				<li class="" style="display: inline-block;"><img data-index="{{ loop.index }}" src="/{{ picture.thumbnail }}" loading="lazy" data-fullimg="/{{ picture.image }}"></li>
			{% endfor %}
			</ul>
			<span class="prev"></span>
			<span class="next"></span>
		</div>
	</div>
	<div id="themes" class="themes">
			<span class="active" data-theme="original">Original Style</span> | <span data-theme="another">Another Style</span>
	</div>
</div>
{% endblock %}
